h1 {
    color: rgb(2, 1, 8);
    background-color: rgb(75, 91, 238);

    text-align: center;
    border: 5px black solid;

    margin-bottom: 80px;
    
    padding-top: 20px;
    padding-bottom: 20px;

}
title {
    background-color: gray;
}

#important {
    color: rgb(2, 1, 8);
}
